{% extends 'portfolio/base.html' %}

             {% block projectDetail %}   
            <div class="projectDetail">
            
            <div class="projectDetail-title">
            <h1>{{ project.projecttitle }}</a></h1></div>
            <div class = "projectDetail-image">
             <img src=' http://127.0.0.1:8000/portfolio{{ project.projectimage.url }}'>
            </div>
            <div class="projectDetail-date">
                 <p>{{ project.projectdate}}</p>
             </div>
            <div class="projectDetail-medium">
                <p>{{ project.projectmedium| safe }}</p>
            </div>
            <div class="projectDetail-text">
                <p>{{ project.projecttext| safe }}</p>
            </div>    
            {% endblock %}    

{% block projectlist %}          
   {% for project in projects %} 
        <ul class = "list" style="list-style-type:none">
        <div class = "portfolio_list">
            <div class = "project-title">
                <li><h1><a href="{% url 'portfolio:project' project.id %}">{{ project.projecttitle}}</a></h1></li>
            </div>

            <div class = "project-image">
               <a href="{% url 'portfolio:project' project.id %}"> <img src=' http://127.0.0.1:8000/portfolio{{ project.projectimage.url }}'></a>
            </div>
        </div>
        </ul>
  {% endfor %}
{% endblock %}                