{% extends 'portfolio/base.html' %}

{% block projectlist %}          
    {% for project in project_list %}
        <ul class = "list" style="list-style-type:none">
        <div class = "portfolio_list">
            <div class = "project-title">
                <li><h3><a href="{% url 'portfolio:project' project.id %}">{{ project.projecttitle }}</a></h3></li>
            </div>

            <div class = "project-image">
                <a href="{% url 'portfolio:project' project.id %}"><img src=' http://markofthelam.com{{ project.projectimage.url }}'></a>
            </div>
        </div>
        </ul>
    {% endfor %}
{% endblock %}                

