{% extends 'home/base.html' %}

{% block content %}
    <div class="contact">
        <div class="contactTitle">
            <h1>Contact</h1>
        </div>
        <div class="aboutText">
            <p class="contact">You can reach me at my <a href="mailto:marktranquilizerlam@gmail.com"><strong>e-mail</strong></a>, <a href="https://www.linkedin.com/in/mark-lam-12036ab7"><strong>linkedin</strong></a>, <a href="https://vimeo.com/user14416103"><strong>vimeo</strong></a>, <a href="https://markofthelam.tumblr.com"><strong>tumblr</strong></a>, github, hackster.io.</p>
</div>
{% endblock %}