{% extends 'blog/base.html' %}

{% block content %}
    <div class="about">
        <div class="aboutTitle">
            <h1>About</h1>
        </div>
        <div class="aboutText">
            <p>I'm an artist of all kinds of mediums primarily in the digital realm. Currently in the Bay Area.<p><b>Artist Statement</b></p><br>My practice seeks to disrupts the notion that everything has a place and everything in in its place. I explore the meaning of art making and the boundaries of artwork using analog and digital technologies not typically associated with fine art. At the core of my work, I am concerned with the nature of identity. Drawing on media studies and critical theory, my practice seeks to redefine given identities and explore the reification of objects.</p>
<p>Using technology as a medium, I try to understand its impact on the rapidly evolving human experience. The digital realm has been tightly embedded in our culture and I attempt to reveal how this ever present digital surveillance and the diffusions of innovations impacts the world.</p>
<p>
You can describe my aesthetic as experimental. As a contrarian at heart, I reject the easy solutions to a design problem. Instead, I push myself to create something different or with a new perspective. You can contact me for more information.</p>
</div>
{% endblock %}