h1 a {
    color: #000000;
    font-family: 'Nunito', sans-serif;
}
body {
    padding-left: ;
}

.logo {
    
    margin-top: 5%;
    margin-left:10%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.navigation {
    margin-left:8%;
    float: left;
    width: 300px;
}

.content {
    
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

.project-title {
    text-align: center;
}

ul {
  display: inline-flex
}


.project--image {
  width: 33%
}

.project-image img {
    width: 100%;
    max-width:200px; /* corresponds to max height of 450px */
    margin: 0 auto;
}