h1 a {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

h1 a:hover {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    opacity: 0.4;
    filter: alpha(opacity=40);
    text-decoration: none;
}

h1 a:visited {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    
    text-decoration: none;
}

h1 a:active {
    color: orange;
    font-family: 'Nunito', sans-serif;
    
    text-decoration: none;
}

body {
    padding-left: ;
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    
}

h2 a {
    color: #000000;
    font-family: 'robot', sans-serif;
    
}

h2 a:hover {
    color: #000000;
    font-family: 'robot', sans-serif;
    text-decoration: none;


}

h2 a:active {
    color: orange;
    font-family: 'robot', sans-serif;
    text-decoration: none;


}

h2 a:visited {
    color: #000000;
    font-family: 'robot', sans-serif;
    text-decoration: none;


}


h3 a {
    color: #000000;
    font-family: 'robot', sans-serif;
    
}

h3 a:hover {
    color: #000000;
    font-family: 'robot', sans-serif;
    text-decoration: none;


}

h3 a:active {
    color: orange;
    font-family: 'robot', sans-serif;
    text-decoration: none;


}

h3 a:visited {
    color: #000000;
    font-family: 'robot', sans-serif;
    text-decoration: none;


}



ul {
  display: inline-flex
}


.logo {
    
    margin-top: 5%;
    margin-left:10%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.navigation {
    margin-left:8%;
    float: left;
    width: 300px;
}

.content {
    float: left;
    
}

.row1{
    float:left;
}



.project-title {
    text-align: left;
}

.project--image {
  width: 33%
}

.project-image img {
     
    width: 100%;
    max-width:200px; /* corresponds to max height of 450px */
    margin: 0 auto;
}


.projectDetail-image img {
    width: 100%;
}    

.portfolio_list:hover {

    opacity: 0.4;
    filter: alpha(opacity=40); 
}

.contentBox {
    margin-top: 190px;
}